<h1><i class="fad fa-stream"></i>
    {{ 'LONGGONG-ORDRE-PASSAGE.INDEX' | translate }}
    {{ 'LONGGONG-ORDRE-PASSAGE.TITRE' | translate }}
</h1>

<!-- Bloc : Première manche -->
<div class="bloc">
    <h3><i class="fad fa-circle-notch fa-xs"></i> {{ 'LONGGONG-ORDRE-PASSAGE.MANCHE1.TITRE' | translate }}</h3>
    <ul>
        <li>{{ 'LONGGONG-ORDRE-PASSAGE.MANCHE1.R1' | translate }}</li>
        <li>{{ 'LONGGONG-ORDRE-PASSAGE.MANCHE1.R2' | translate }}</li>
    </ul>
</div>

<!-- Bloc : Manches suivantes -->
<div class="bloc">
    <h3><i class="fad fa-circle-notch fa-xs"></i> {{ 'LONGGONG-ORDRE-PASSAGE.MANCHESUIV.TITRE' | translate }}</h3>
    <ul>
        <li>{{ 'LONGGONG-ORDRE-PASSAGE.MANCHESUIV.R1' | translate }}</li>
        <li>{{ 'LONGGONG-ORDRE-PASSAGE.MANCHESUIV.R2' | translate }}</li>
        <li>{{ 'LONGGONG-ORDRE-PASSAGE.MANCHESUIV.R3' | translate }}</li>
    </ul>
</div>