::ng-deep mat-form-field {
  width: 100%;
}

::ng-deep .mat-mdc-select-value-text{
  white-space: pre-line !important;
}

mat-sidenav-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

mat-sidenav {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 35vh;
  max-height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 1rem;
}

.mobile-toolbar {
  display: none;
}

@media (max-width: 768px) {
  .mobile-toolbar {
    display: flex;
    align-items: center;
  }

  .mobile-toggle-button {
    margin-right: 8px;
  }

  mat-sidenav {
    max-height: 100vh;
    overflow-y: auto;
  }
}
