<mat-sidenav-container>
  <mat-sidenav #drawer [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile">

    <mat-nav-list>
      <mat-list-item [routerLink]="['/accueil']" (click)="isMobile && drawer.close()">
        <i class="fad fa-home-lg"></i>
        <span> {{ 'SIDENAV.ACCUEIL' | translate }}</span>
      </mat-list-item>

      <mat-list-item [routerLink]="['/reglements']" (click)="isMobile && drawer.close()">
        <i class="fad fa-gavel fa-flip-horizontal"></i>
        <span> {{ 'SIDENAV.REGLEMENT' | translate }}</span>
      </mat-list-item>
    </mat-nav-list>

    <mat-form-field appearance="fill">
      <mat-label>{{ 'SIDENAV.SELECTIONNER_COMPETITION' | translate }}</mat-label>
      <mat-select [(value)]="indexCompetitionSelectionne" (selectionChange)="onCompetitionChange($event.value)">
        <mat-option *ngFor="let competition of competitionsDispo; let i = index" [value]="i">
          <span style="white-space: pre-line;">{{ competition }}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-nav-list *ngIf="showTirage">
      <mat-list-item [routerLink]="['/gagnants-tirage', indexCompetitionSelectionne]"
        (click)="isMobile && drawer.close()">
        <mat-icon></mat-icon>
        <span>🎉 {{ 'SIDENAV.BOUTON_GAGNANTS5050' | translate }}</span>
      </mat-list-item>
    </mat-nav-list>

    <!-- Liste des mois -->
    <mat-nav-list>
      <mat-list-item *ngFor="let mois of moisDispo"
        [routerLink]="['/classement', indexCompetitionSelectionne, encodeMois(mois.name)]"
        (click)="isMobile && drawer.close()">
        <span>{{ getMoisAfficahge(mois) }}</span>
      </mat-list-item>
    </mat-nav-list>

    <!-- Lien vers le classement annuel Top 10 -->
    <mat-nav-list>
      <mat-list-item [routerLink]="['/classement-annuel', indexCompetitionSelectionne]"
        (click)="isMobile && drawer.close()">
        <i class="fad fa-trophy-alt"></i> 
        <span> {{ 'CLASSEMENT_ANNUEL.TITRE' | translate }}</span>
      </mat-list-item>
    </mat-nav-list>

    <button type="button" class="btn btn-outline-primary btn-lg btn-block"
      (click)="switchLanguage(); isMobile && drawer.close()">
      {{ 'SIDENAV.BOUTON_LANGUE' | translate }}
    </button>

  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Contenu principal -->

    <mat-toolbar color="primary" class="mobile-toolbar">
      <button mat-icon-button (click)="drawer.toggle()" class="mobile-toggle-button">
        <i class="fad fa-bars"></i>
      </button>
    </mat-toolbar>

    <!-- Zone d'affichage pour les pages comme /reglements -->
    <router-outlet></router-outlet>
    <app-scroll-to-top />

  </mat-sidenav-content>
</mat-sidenav-container>