<footer class="footer">
  <div class="footer-content">
    <img [src]="resultatsService.imageLocationUrl + 'logoCompetition.png'" alt="Logo compétition" class="footer-logo" />
    <span>{{ 'FOOTER.DROITS' | translate }}</span>
  </div>
  @if (!isPrintMode) {
  <div class="footer-links">
    <a [routerLink]="['/mentions-legales']"><i class="fad fa-file-contract"></i> {{ 'FOOTER.MENTIONS_LEGALES' |
      translate }}</a>
    <a routerLink="/contact"><i class="fad fa-comments-alt"></i> {{ 'FOOTER.CONTACT' | translate }}</a>
    <!--    <a routerLink="/a-propos"><i class="fad fa-address-card fa-xs"></i> {{ 'FOOTER.APROPOS' | translate }}</a> -->
  </div>
  }
  <div class="footer-version">{{ 'FOOTER.VERSION' | translate }} {{ version }}</div>
</footer>