<mat-toolbar color="primary" class="header-toolbar">
    <div class="header-container">
      <!-- Logo gauche -->
      <img [src]="resultatsService.imageLocationUrl + 'logoCompetition.png'" alt="Logo compétition" class="logo logo-left" />
  
      <!-- Titre centré -->
      <div class="title-container">
        <h1 class="title">{{ 'HEADER.TITRE' | translate }}</h1>
        <h3 class="subtitle">{{ 'HEADER.NOM_CLUB' | translate }}</h3>
      </div>
  
      <!-- Logo droite -->
      <img [src]="resultatsService.imageLocationUrl + 'LogoClubDeTir.png'" alt="Logo club de tir" class="logo logo-right" />
    </div>
  </mat-toolbar>
  