<h3><i class="fad fa-circle-notch fa-xs"></i> {{ 'REGLEMENT.SECTIONS.EQUIPEMENT.SECURITE.TITRE' | translate }}</h3>
<ul class="custom-icon-list">
  <li>{{ 'REGLEMENT.SECTIONS.EQUIPEMENT.SECURITE.ELEMENTS.AUDITIVE' | translate }}</li>
  <li>{{ 'REGLEMENT.SECTIONS.EQUIPEMENT.SECURITE.ELEMENTS.OCULAIRE' | translate }}</li>
</ul>
<div class="note bloc-sub">
  <strong>{{ 'REGLEMENT.SECTIONS.EQUIPEMENT.SECURITE.NOTE.LABEL' | translate }}</strong>
  {{ 'REGLEMENT.SECTIONS.EQUIPEMENT.SECURITE.NOTE.TEXTE' | translate }}
</div>
