.calcul-des-points {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.exemple-tir {
    background-color: white;
    border-left: 6px solid #00796b;
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.exemple-tir h3 {
    margin-top: 0;
    color: #00796b;
}

tir-parfait-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    /* espace entre les images */
}

.tir-parfait-gallery img {
    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

/* Responsive : une image par ligne en mobile */
@media (max-width: 768px) {
    .tir-parfait-gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tir-parfait-gallery img {
        width: 150px;
    }

    .calcul-des-points  {
        padding: unset !important;
        border-radius: unset !important;
        box-shadow: unset !important;
    }
}

/* Couleurs spécifiques par type */
.tir-parfait {
    border-color: #4caf50;
}

.tir-solide {
    border-color: #2196f3;
}

.tir-invalide {
    border-color: #f44336;
}

.tir-triche {
    border-color: #ff9800;
}