<div class="calibres-block" id="calibres">
    <h3>Calibres autorisés</h3>
    <ul>
        <li>.17 HMR (Hornady Magnum Rimfire)</li>
        <li>.17 HM2 (Hornady Mach 2)</li>
        <li>.17 WSM (Winchester Super Magnum)</li>
        <li>.22 Short</li>
        <li>.22 Long</li>
        <li>.22 LR (Long Rifle)</li>
        <li>.22 WMR (Winchester Magnum Rimfire)</li>
        <li>.22 CB (Conical Ball)</li>
        <li>.22 Remington Jet</li>
        <li>.22 Hornet</li>
        <li>.22 TCM (Tuason Craig Micromagnum)</li>
        <li>.22 Nosler</li>
        <li>.22 Savage Hi-Power</li>
        <li>.22 PPC</li>
        <li>.222 Remington</li>
        <li>.223 Remington</li>
        <li>.223 Wylde (chambre hybride entre .223 Rem et 5.56 NATO)</li>
        <li>5.56x45mm NATO</li>
        <li>5.7x28mm FN</li>
        <li>.224 Valkyrie</li>
        <li>.220 Swift</li>
        <li>Autres calibres compatibles selon le règlement en vigueur</li>
    </ul>
</div>