<h1><i class="fad fa-chart-line"></i>
    {{ 'LONGGONG-SCORE.INDEX' | translate }}
    {{ 'LONGGONG-SCORE.TITRE' | translate }}
</h1>

<!-- Bloc : Barème des points -->
<div class="bloc">
    <h3><i class="fad fa-circle-notch fa-xs"></i> {{ 'LONGGONG-SCORE.BAREME.TITRE' | translate }}</h3>
    <ul>
        <li>{{ 'LONGGONG-SCORE.BAREME.R1' | translate }}</li>
        <li>{{ 'LONGGONG-SCORE.BAREME.R2' | translate }}</li>
        <li>{{ 'LONGGONG-SCORE.BAREME.R3' | translate }}</li>
    </ul>
</div>

<!-- Bloc : Score par manche -->
<div class="bloc">
    <h3><i class="fad fa-circle-notch fa-xs"></i> {{ 'LONGGONG-SCORE.MANCHE.TITRE' | translate }}</h3>
    <ul>
        <li>{{ 'LONGGONG-SCORE.MANCHE.R1' | translate }}</li>
        <li>{{ 'LONGGONG-SCORE.MANCHE.R2' | translate }}</li>
        <li>{{ 'LONGGONG-SCORE.MANCHE.R3' | translate }}</li>
    </ul>
</div>

<!-- Bloc : Compétition complète -->
<div class="bloc">
    <h3><i class="fad fa-circle-notch fa-xs"></i> {{ 'LONGGONG-SCORE.COMPET.TITRE' | translate }}</h3>
    <ul>
        <li>{{ 'LONGGONG-SCORE.COMPET.R1' | translate }}</li>
        <li>{{ 'LONGGONG-SCORE.COMPET.R2' | translate }}</li>
    </ul>
</div>

<!-- Bloc : Départage -->
<div class="bloc">
    <h3><i class="fad fa-circle-notch fa-xs"></i> {{ 'LONGGONG-SCORE.EGALITE.TITRE' | translate }}</h3>
    <ul>
        <li>{{ 'LONGGONG-SCORE.EGALITE.R1' | translate }}</li>
        <li>{{ 'LONGGONG-SCORE.EGALITE.R2' | translate }}</li>
    </ul>
</div>