
<h3><i class="fad fa-circle-notch fa-xs"></i> {{ 'REGLEMENT.SECTIONS.EQUIPEMENT.ACCESSOIRES.TITRE' | translate }}</h3>
<ul class="custom-icon-list">
  <li><strong>{{ 'REGLEMENT.SECTIONS.EQUIPEMENT.ACCESSOIRES.CATEGORIES.VISEE' | translate }} :</strong>
    <ul>
      <li>{{ 'REGLEMENT.SECTIONS.EQUIPEMENT.ACCESSOIRES.VISEE.ITEM1' | translate }}</li>
      <li>{{ 'REGLEMENT.SECTIONS.EQUIPEMENT.ACCESSOIRES.VISEE.ITEM2' | translate }}</li>
      <li>{{ 'REGLEMENT.SECTIONS.EQUIPEMENT.ACCESSOIRES.VISEE.ITEM3' | translate }}</li>
    </ul>
  </li>
  <li><strong>{{ 'REGLEMENT.SECTIONS.EQUIPEMENT.ACCESSOIRES.CATEGORIES.CONFORT' | translate }} :</strong>
    <ul>
      <li>{{ 'REGLEMENT.SECTIONS.EQUIPEMENT.ACCESSOIRES.CONFORT.ITEM1' | translate }}</li>
      <li>{{ 'REGLEMENT.SECTIONS.EQUIPEMENT.ACCESSOIRES.CONFORT.ITEM2' | translate }}</li>
      <li>{{ 'REGLEMENT.SECTIONS.EQUIPEMENT.ACCESSOIRES.CONFORT.ITEM3' | translate }}</li>
      <li>{{ 'REGLEMENT.SECTIONS.EQUIPEMENT.ACCESSOIRES.CONFORT.ITEM4' | translate }}</li>
    </ul>
  </li>
  <li><strong>{{ 'REGLEMENT.SECTIONS.EQUIPEMENT.ACCESSOIRES.CATEGORIES.SUPPORT' | translate }} :</strong>
    <ul>
      <li>{{ 'REGLEMENT.SECTIONS.EQUIPEMENT.ACCESSOIRES.SUPPORT.ITEM1' | translate }}</li>
      <li>{{ 'REGLEMENT.SECTIONS.EQUIPEMENT.ACCESSOIRES.SUPPORT.ITEM2' | translate }}</li>
      <li>{{ 'REGLEMENT.SECTIONS.EQUIPEMENT.ACCESSOIRES.SUPPORT.ITEM3' | translate }}</li>
      <li>{{ 'REGLEMENT.SECTIONS.EQUIPEMENT.ACCESSOIRES.SUPPORT.ITEM4' | translate }}</li>
      <li>{{ 'REGLEMENT.SECTIONS.EQUIPEMENT.ACCESSOIRES.SUPPORT.ITEM5' | translate }}</li>
    </ul>
  </li>
</ul>
