<h1><i class="fad fa-bullseye"></i> {{ 'LONGGONG-JEU.TITRE' | translate }}</h1>

<!-- Bloc : Présentation générale -->
<div class="bloc">
    <h3><i class="fad fa-circle-notch fa-xs"></i> {{ 'LONGGONG-JEU.PRESENTATION.TITRE' | translate }}</h3>
    <ul>
        <li>{{ 'LONGGONG-JEU.PRESENTATION.R1' | translate }}</li>
        <li>{{ 'LONGGONG-JEU.PRESENTATION.R2' | translate }}</li>
    </ul>
</div>

<!-- Bloc : Objectif -->
<div class="bloc">
    <h3><i class="fad fa-circle-notch fa-xs"></i> {{ 'LONGGONG-JEU.OBJECTIF.TITRE' | translate }}</h3>
    <ul>
        <li>{{ 'LONGGONG-JEU.OBJECTIF.R1' | translate }}</li>
        <li>{{ 'LONGGONG-JEU.OBJECTIF.R2' | translate }}</li>
    </ul>
</div>

<!-- Bloc : Esprit de la compétition -->
<div class="bloc">
    <h3><i class="fad fa-circle-notch fa-xs"></i> {{ 'LONGGONG-JEU.ESPRIT.TITRE' | translate }}</h3>
    <ul>
        <li>{{ 'LONGGONG-JEU.ESPRIT.R1' | translate }}</li>
        <li>{{ 'LONGGONG-JEU.ESPRIT.R2' | translate }}</li>
    </ul>
</div>