<div class="mentions-legales-container">
  <h1>📝 {{ 'MENTIONS_LEGALES.TITRE' | translate }}</h1>

  <section>
    <h2>{{ 'MENTIONS_LEGALES.EDITEUR_TITRE' | translate }}</h2>
    <p>
      {{ 'MENTIONS_LEGALES.EDITEUR_CONTENU' | translate }}<br />
      <strong>Sylvain Trépanier</strong>        
    </p>

    <p>
      {{ 'MENTIONS_LEGALES.EDITEUR_CLUB' | translate }}<strong>Club de Tir de l'Outaouais</strong><br />
      {{ 'MENTIONS_LEGALES.EDITEUR_ADRESSE' | translate }}
      268 chemin industriel
      L'Ange-Gardien, (Québec), J8L 0A9
      {{ 'MENTIONS_LEGALES.EDITEUR_ADRESSE2' | translate }}
      <br />
      {{ 'MENTIONS_LEGALES.EDITEUR_TEL' | translate }} (819) 986-3584
      <br />
      {{ 'MENTIONS_LEGALES.EDITEUR_SITE' | translate }} <a href="https://www.clubtiroutaouais.ca/" alt="clubtiroutaouais.ca">https://www.clubtiroutaouais.ca/</a>
    </p>
    <p>{{ 'MENTIONS_LEGALES.RESPONSABLE' | translate }} Sylvain Trépanier ( competition22lr&#64;trepanier.cc )
    </p>
  </section>

  <!-- <section>
    <h2>Hébergement</h2>
    <p>
      Le site est hébergé par :<br />
      <strong>[Nom de l’hébergeur]</strong><br />
      Adresse : [Adresse de l’hébergeur]<br />
      Téléphone : [Téléphone de l’hébergeur]<br />
      Site web : [Lien vers le site de l’hébergeur]
    </p>
  </section> -->

  <section>
    <h2>{{ 'MENTIONS_LEGALES.PROPRIETE_TITRE' | translate }}</h2>
    <p>
      {{ 'MENTIONS_LEGALES.PROPRIETE_CONTENU' | translate }}
    </p>
  </section>

  <section>
    <h2>{{ 'MENTIONS_LEGALES.DONNEES_TITRE' | translate }}</h2>
    <p>
      {{ 'MENTIONS_LEGALES.DONNEES_CONTENU' | translate }}
    </p>
  </section>

  <section>
    <h2>{{ 'MENTIONS_LEGALES.COOKIES_TITRE' | translate }}</h2>
    <p>
      {{ 'MENTIONS_LEGALES.COOKIES_CONTENU' | translate }}
    </p>
  </section>

  <section>
    <h2>{{ 'MENTIONS_LEGALES.RESPONSABILITE_TITRE' | translate }}</h2>
    <p>
     {{ 'MENTIONS_LEGALES.RESPONSABILITE_CONTENU' | translate }}
    </p>
  </section>
</div>