<div class="mentions-legales-container">
  <h1>📝 Mentions légales</h1>

  <section>
    <h2>Éditeur du site</h2>
    <p>
      Le présent site est édité par :<br />
      <strong>Sylvain Trépanier </strong>        
    </p>

    <p>
      pour le <strong>Club de Tir de l'Outaouais</strong><br />
      Adresse :
      268 chemin industriel
      L'Ange-Gardien, (Québec), J8L 0A9
      ( Sortie 174 de l'Autoroute 50 )
      <br />
      Téléphone : (819) 986-3584
      <br />
      Site Web : <a href="https://www.clubtiroutaouais.ca/" alt="clubtiroutaouais.ca">https://www.clubtiroutaouais.ca/</a>
    </p>
    <p>Responsable de la publication : Sylvain Trépanier ( competition22lr&#64;trepanier.cc )
    </p>
  </section>

  <!-- <section>
    <h2>Hébergement</h2>
    <p>
      Le site est hébergé par :<br />
      <strong>[Nom de l’hébergeur]</strong><br />
      Adresse : [Adresse de l’hébergeur]<br />
      Téléphone : [Téléphone de l’hébergeur]<br />
      Site web : [Lien vers le site de l’hébergeur]
    </p>
  </section> -->

  <section>
    <h2>Propriété intellectuelle</h2>
    <p>
      L'ensemble du contenu présent sur ce site (textes, images, graphismes, logos, vidéos, etc.) est la propriété
      exclusive de l'association ou de ses partenaires, sauf mention contraire. Toute reproduction, distribution,
      modification ou adaptation, sans l'accord préalable écrit, est interdite.
    </p>
  </section>

  <section>
    <h2>Protection des données personnelles</h2>
    <p>
      Les données éventuellement collectées via ce site (formulaire de contact, inscriptions, etc.) sont uniquement
      utilisées dans le cadre de l’activité de l’association.<br />
      Conformément à la loi Informatique et Libertés et au RGPD, vous disposez d’un droit d’accès, de rectification et
      de suppression des données vous concernant. Pour exercer ce droit, contactez-nous à l’adresse : [Email de
      contact].
    </p>
  </section>

  <section>
    <h2>Cookies</h2>
    <p>
      Ce site peut utiliser des cookies pour améliorer l'expérience utilisateur. Vous pouvez configurer votre navigateur
      pour refuser tout ou partie des cookies.
    </p>
  </section>

  <section>
    <h2>Limitation de responsabilité</h2>
    <p>
      L'association ne peut être tenue responsable des erreurs ou omissions dans les informations diffusées, ni de
      l'utilisation qui pourrait en être faite.
    </p>
  </section>
</div>