<h2>🏅 {{ 'REGLEMENT.SECTIONS.CLASSEMENT.TITRE' | translate }}</h2>
<p>
    {{ 'REGLEMENT.SECTIONS.CLASSEMENT.INTRO1' | translate }}
    <strong>{{ 'REGLEMENT.SECTIONS.CLASSEMENT.INTRO2' | translate }}</strong>,
    <strong>{{ 'REGLEMENT.SECTIONS.CLASSEMENT.INTRO3' | translate }}</strong>,
    <strong>{{ 'REGLEMENT.SECTIONS.CLASSEMENT.INTRO4' | translate }}</strong>,
    {{ 'REGLEMENT.SECTIONS.CLASSEMENT.INTRO5' | translate }}
    <strong>{{ 'REGLEMENT.SECTIONS.CLASSEMENT.INTRO6' | translate }}</strong>.
</p>
<div class="classements">
    <div class="classements-table">
        <table>
            <thead>
                <tr>
                    <th>{{ 'REGLEMENT.SECTIONS.CLASSEMENT.COL_CLASSEMENT' | translate }}</th>
                    <th>{{ 'REGLEMENT.SECTIONS.CLASSEMENT.COL_CONDITIONS' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="trophy-card trophy-card-Diamant">
                        <div class="trophy-content">
                            <img [src]="getTrophyImage('Diamant')" class="trophy-img" alt="trophée Diamant" />
                            <span>{{ 'REGLEMENT.SECTIONS.CLASSEMENT.DIAMANT.TITRE' | translate }}</span>
                        </div>
                    </td>
                    <td>
                        <div class="alert">
                            {{ 'REGLEMENT.SECTIONS.CLASSEMENT.DIAMANT.ALERT' | translate }}
                        </div>
                        <ul>
                            <li>
                                {{ 'REGLEMENT.SECTIONS.CLASSEMENT.DIAMANT.CONDITION1_PART1' | translate }}
                                <strong>{{ 'REGLEMENT.SECTIONS.CLASSEMENT.DIAMANT.CONDITION1_PART2' | translate }}</strong>
                                {{ 'REGLEMENT.SECTIONS.CLASSEMENT.DIAMANT.CONDITION1_PART3' | translate }}
                            </li>
                            <li>
                                <strong>{{ 'REGLEMENT.SECTIONS.CLASSEMENT.DIAMANT.CONDITION2' | translate }}</strong>
                            </li>
                            <li>
                                {{ 'REGLEMENT.SECTIONS.CLASSEMENT.DIAMANT.CONDITION3_PART1' | translate }}
                                <strong>{{ 'REGLEMENT.SECTIONS.CLASSEMENT.DIAMANT.CONDITION3_PART2' | translate }}</strong>
                            </li>
                            <li>
                                <em>{{ 'REGLEMENT.SECTIONS.CLASSEMENT.DIAMANT.CONDITION4' | translate }}</em>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="trophy-card trophy-card-Platine">
                        <div class="trophy-content">
                            <img [src]="getTrophyImage('Platine')" class="trophy-img" alt="trophée Platine" />
                            <span>{{ 'REGLEMENT.SECTIONS.CLASSEMENT.PLATINE.TITRE' | translate }}</span>
                        </div>
                    </td>
                    <td>
                        <ul>
                            <li>
                                {{ 'REGLEMENT.SECTIONS.CLASSEMENT.PLATINE.CONDITION1_PART1' | translate }}
                                <strong>{{ 'REGLEMENT.SECTIONS.CLASSEMENT.PLATINE.CONDITION1_PART2' | translate }}</strong>
                            </li>
                            <li>{{ 'REGLEMENT.SECTIONS.CLASSEMENT.PLATINE.CONDITION2' | translate }}</li>
                            <li>
                                {{ 'REGLEMENT.SECTIONS.CLASSEMENT.PLATINE.CONDITION3_PART1' | translate }}
                                <strong>{{ 'REGLEMENT.SECTIONS.CLASSEMENT.PLATINE.CONDITION3_PART2' | translate }}</strong>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="trophy-card trophy-card-Or">
                        <div class="trophy-content">
                            <img [src]="getTrophyImage('Or')" class="trophy-img" alt="trophée Or" />
                            <span>{{ 'REGLEMENT.SECTIONS.CLASSEMENT.OR.TITRE' | translate }}</span>
                        </div>
                    </td>
                    <td>
                        <ul>
                            <li>
                                <strong>{{ 'REGLEMENT.SECTIONS.CLASSEMENT.OR.CONDITION1' | translate }}</strong>
                                {{ 'REGLEMENT.SECTIONS.CLASSEMENT.OR.CONDITION1_PART2' | translate }}
                            </li>
                            <li>
                                {{ 'REGLEMENT.SECTIONS.CLASSEMENT.OR.CONDITION2_PART1' | translate }}
                                <strong>{{ 'REGLEMENT.SECTIONS.CLASSEMENT.OR.CONDITION2_PART2' | translate }}</strong>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="trophy-card trophy-card-Argent">
                        <div class="trophy-content">
                            <img [src]="getTrophyImage('Argent')" class="trophy-img" alt="trophée Argent" />
                            <span>{{ 'REGLEMENT.SECTIONS.CLASSEMENT.ARGENT.TITRE' | translate }}</span>
                        </div>
                    </td>
                    <td>
                        <ul>
                            <li><strong>{{ 'REGLEMENT.SECTIONS.CLASSEMENT.ARGENT.CONDITION1' | translate }}</strong></li>
                            <li>
                                {{ 'REGLEMENT.SECTIONS.CLASSEMENT.ARGENT.CONDITION2_PART1' | translate }}
                                <strong>{{ 'REGLEMENT.SECTIONS.CLASSEMENT.ARGENT.CONDITION2_PART2' | translate }}</strong>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="trophy-card trophy-card-Bronze">
                        <div class="trophy-content">
                            <img [src]="getTrophyImage('Bronze')" class="trophy-img" alt="trophée Bronze" />
                            <span>{{ 'REGLEMENT.SECTIONS.CLASSEMENT.BRONZE.TITRE' | translate }}</span>
                        </div>
                    </td>
                    <td>
                        <ul>
                            <li><strong>{{ 'REGLEMENT.SECTIONS.CLASSEMENT.BRONZE.CONDITION1' | translate }}</strong></li>
                            <li>
                                {{ 'REGLEMENT.SECTIONS.CLASSEMENT.BRONZE.CONDITION2_PART1' | translate }}
                                <strong>{{ 'REGLEMENT.SECTIONS.CLASSEMENT.BRONZE.CONDITION2_PART2' | translate }}</strong>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="note">
        🔒 <strong>{{ 'REGLEMENT.SECTIONS.CLASSEMENT.NOTE.TITRE' | translate }}</strong>
        {{ 'REGLEMENT.SECTIONS.CLASSEMENT.NOTE.TEXTE1' | translate }}
        <strong>{{ 'REGLEMENT.SECTIONS.CLASSEMENT.NOTE.TEXTE2' | translate }}</strong>
        {{ 'REGLEMENT.SECTIONS.CLASSEMENT.NOTE.TEXTE3' | translate }}
        <strong>{{ 'REGLEMENT.SECTIONS.CLASSEMENT.NOTE.TEXTE4' | translate }}</strong>
        {{ 'REGLEMENT.SECTIONS.CLASSEMENT.NOTE.TEXTE5' | translate }}
    </div>
</div>
