<div class="bloc" id="carabines">
    <h3>🔸 Carabines autorisées</h3>
    <ul>
        <li>Carabines à percussion annulaire (.17 HMR, .22 LR ou similaires)</li>
        <li>Carabines à percussion centrale <a (click)="goToAnchor('calibres')">(calibres réglementaires)</a></li>
        <li>Carabines à air comprimé</li>
        <li>Systèmes d'alimentation :
            <ul>
                <li>Alimentation manuelle (chargement un à un)</li>
                <li>Chargeur fixe</li>
                <li>Chargeur amovible</li>
            </ul>
        </li>
        <li>Types d'action :
            <ul>
                <li>Semi-automatique</li>
                <li>À verrou latéral</li>
                <li>À levier</li>
                <li>À bascule ou à charnière</li>
                <li>À pompe</li>
                <li>À barillet</li>
            </ul>
        </li>
    </ul>
</div>