<h1><i class="fad fa-crosshairs"></i>
    {{ 'LONGGONG-CALIBRES.INDEX' | translate }}
    {{ 'LONGGONG-CALIBRES.TITRE' | translate }}
</h1>

<p>{{ 'LONGGONG-CALIBRES.TEXTE' | translate }}</p>

<div class="calibres-block">
    <ul class="custom-icon-list">
        <!-- <li>.17 HMR (Hornady Magnum Rimfire)</li>
        <li>.17 HM2 (Hornady Mach 2)</li>
        <li>.17 WSM (Winchester Super Magnum)</li>-->
        <li>.22 Short</li>
        <li>.22 Long</li>
        <li>.22 LR (Long Rifle)</li>
    </ul>
    <!-- {{ 'LONGGONG-CALIBRES.AUTRE' | translate }} -->
</div>