<div class="tirage-container">
  <h2>🎉 {{ 'TIRAGE.TITRE' | translate }} </h2>
  <div class="tirage-section">
    <p>
     {{ 'TIRAGE.INTRO' | translate }} <strong>{{ 'TIRAGE.INTRO.1' | translate }}</strong> {{ 'TIRAGE.INTRO.2' | translate }} 
     <em>{{ 'TIRAGE.INTRO.3' | translate }}</em>{{ 'TIRAGE.INTRO.4' | translate }}
    </p>
    <div class="tirage-gagnants">
      <div *ngIf="gagnantsParMois.length > 0; else pasDeGagnants">
        <table class="tirage-table">
          <tr *ngFor="let gagnant of gagnantsParMois">
            <td class="moisTirage"><strong>{{ getMoisAfficahge(gagnant)  }} :</strong></td>
            <td class="gagnantTirage">{{ getGagnantAffichage(gagnant) }}</td>
          </tr>
        </table>
      </div>
    </div>
    <p>
      {{ 'TIRAGE.DETAILS_BONUS' | translate }} <strong>{{ 'TIRAGE.DETAILS_BONUS.1' | translate }}</strong> {{ 'TIRAGE.DETAILS_BONUS.2' | translate }} 
      <strong>{{ 'TIRAGE.DETAILS_BONUS.3' | translate }} </strong> :
    </p>
    <div class="classements-table">
      <table>
        <thead>
          <tr>
            <th>{{ 'CLASSEMENT.TITRE' | translate }}</th>
            <th>{{ 'TIRAGE.PARTICIPATIONS' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="trophy-card trophy-card-Diamant">
              <div class="trophy-content">
                <img [src]="getTrophyImage('Diamant')" class="trophy-img" alt="trophée Diamant" />
                <span>{{ 'CLASSEMENT.DIAMANT' | translate }} </span>
              </div>
            </td>
            <td>
              {{ 'TIRAGE.DIAMANT_NOTE' | translate }}<br />{{ 'TIRAGE.DIAMANT_NOTE.1' | translate }}
            </td>
          </tr>
          <tr>
            <td class="trophy-card trophy-card-Platine">
              <div class="trophy-content">
                <img [src]="getTrophyImage('Platine')" class="trophy-img" alt="trophée Platine" />
                <span>{{ 'CLASSEMENT.PLATINE' | translate }} </span>
              </div>
            </td>
            <td>
              {{ 'TIRAGE.PLATINE_NOTE' | translate }}
            </td>
          </tr>
          <tr>
            <td class="trophy-card trophy-card-Or">
              <div class="trophy-content">
                <img [src]="getTrophyImage('Or')" class="trophy-img" alt="trophée Or" />
                <span>{{ 'CLASSEMENT.OR' | translate }} </span>
              </div>
            </td>
            <td>
              {{ 'TIRAGE.OR_NOTE' | translate }}
            </td>
          </tr>
          <tr>
            <td class="trophy-card trophy-card-Argent">
              <div class="trophy-content">
                <img [src]="getTrophyImage('Argent')" class="trophy-img" alt="trophée Argent" />
                <span>{{ 'CLASSEMENT.ARGENT' | translate }} </span>
              </div>
            </td>
            <td>
              {{ 'TIRAGE.ARGENT_NOTE' | translate }}
            </td>
          </tr>
          <tr>
            <td class="trophy-card trophy-card-Bronze">
              <div class="trophy-content">
                <img [src]="getTrophyImage('Bronze')" class="trophy-img" alt="trophée Bronze" />
                <span>{{ 'CLASSEMENT.BRONZE' | translate }} </span>
              </div>
            </td>
            <td>
              {{ 'TIRAGE.BRONZE_NOTE' | translate }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <p>
      {{ 'TIRAGE.CONCLUSION' | translate }}
    </p>
    <ng-template #pasDeGagnants>
      <p>{{ 'TIRAGE.AUCUN_GAGNANT' | translate }}</p>
    </ng-template>
  </div>