.equipements h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #2a3b4c;
}

.non-authorise {
    color: #c0392b;
    font-weight: bold;
}

.bloc-sub{
    margin-left: 1.5em;
}