<h2><i class="fad fa-folder-tree"></i> {{ 'REGLEMENT.SECTIONS.CATEGORIES.TITRE' | translate }}</h2>
<p>{{ 'REGLEMENT.SECTIONS.CATEGORIES.INTRO' | translate }}</p>
<ul class="custom-icon-list">
  <li>{{ 'REGLEMENT.SECTIONS.CATEGORIES.TYPE_ARME' | translate }}</li>
  <li>{{ 'REGLEMENT.SECTIONS.CATEGORIES.EXPERIENCE' | translate }}</li>
  <li>{{ 'REGLEMENT.SECTIONS.CATEGORIES.CLASSE_AGE' | translate }}</li>
</ul>
<div class="note">
  <i class="fad fa-info-square fa-lg"></i><strong> {{ 'REGLEMENT.SECTIONS.CATEGORIES.NOTE_A_VENIR' | translate }}</strong> {{ 'REGLEMENT.SECTIONS.CATEGORIES.NOTE' | translate }}
</div>
