<div class="classement-container">
  <h2 class="titre-mois">Classement - {{ moisSelectionne?.name }}</h2>

  <div class="trophees">
    <div *ngFor="let p of topParticipants; let i = index" class="trophy-card trophy-card-{{p.classement}}">
      <img [src]="getTrophyImage(p.classement)" class="trophy-img" alt="{{p.classement}}" />
      <div class="infos">
        <div class="nom">{{ p.nom }}</div>
        <div class="score">{{ p.total }} pts</div>
      </div>
    </div>
  </div>

  <div class="no-print">
    <ul >
      <li style="list-style-image: none;"><a [routerLink]="['/impression', this.indexCompetitionSelectionne, this.moisSelectionne?.name]"
          target="_blank">🖨️
          Version imprimable</a></li>
      <li style="list-style-image: none;"><a [routerLink]="['/reglements']" fragment="classement">
          🏅 Système de Classement des Tireurs
        </a></li>
    </ul>

    <br />

  </div>
</div>