<div class="classement-container">
  <h2 class="titre-mois">{{ 'CLASSEMENT_MENSUEL.CLASSEMENT' | translate }}  - {{ getMoisAfficahge(moisSelectionne) }}</h2>

  <div class="trophees">
    <div *ngFor="let p of topParticipants; let i = index" class="trophy-card trophy-card-{{p.classement}}">
      <img [src]="getTrophyImage(p.classement)" class="trophy-img" alt="{{p.classement}}" />
      <div class="infos">
        <div class="nom">{{ p.nom }}</div>
        <div class="score">{{ p.total }} pts</div>
      </div>
    </div>
  </div>

  <div class="no-print">
    <a [routerLink]="['/reglements']" fragment="classement">
      🏅 {{ 'CLASSEMENT_MENSUEL.SYSTEME_CLASSEMENT_TIREURS' | translate }} 
    </a>
    <br />
    <a [routerLink]="['/impression', this.indexCompetitionSelectionne, this.moisSelectionne?.name]" target="_blank">
      🖨️ {{ 'CLASSEMENT_MENSUEL.VERSION_IMPRIMABLE' | translate }} 
    </a>
  </div>
</div>