<h2><i class="fad fa-thumbtack"></i> {{ 'REGLEMENT.SECTIONS.DEROULEMENT.TITRE' | translate }}</h2>
<p>{{ 'REGLEMENT.SECTIONS.DEROULEMENT.DESCRIPTION' | translate }}</p>

<div class="bloc">
  <h3><i class="fad fa-circle-notch fa-xs"></i> {{ 'REGLEMENT.SECTIONS.DEROULEMENT.FEUILLES.TITRE' | translate }}</h3>
  <ul class="custom-icon-list">
    <li>{{ 'REGLEMENT.SECTIONS.DEROULEMENT.FEUILLES.OBTENTION' | translate }}</li>
    <li>{{ 'REGLEMENT.SECTIONS.DEROULEMENT.FEUILLES.PARTICIPATIONS' | translate }}</li>
    <li>{{ 'REGLEMENT.SECTIONS.DEROULEMENT.FEUILLES.PRIX_MEMBRE' | translate }}</li>
    <li>{{ 'REGLEMENT.SECTIONS.DEROULEMENT.FEUILLES.PRIX_NON_MEMBRE' | translate }}</li>
    <li>{{ 'REGLEMENT.SECTIONS.DEROULEMENT.FEUILLES.FRAIS_TERRAIN' | translate }}</li>
  </ul>
</div>

<div class="bloc">
  <h3><i class="fad fa-circle-notch fa-xs"></i> {{ 'REGLEMENT.SECTIONS.DEROULEMENT.VALIDATION.TITRE' | translate }}</h3>
  <ul class="custom-icon-list">
    <li>{{ 'REGLEMENT.SECTIONS.DEROULEMENT.VALIDATION.ESTAMPILLE' | translate }}</li>
    <li>{{ 'REGLEMENT.SECTIONS.DEROULEMENT.VALIDATION.DISTANCE' | translate }}</li>
    <li>{{ 'REGLEMENT.SECTIONS.DEROULEMENT.VALIDATION.REFUS_SIGNATURE' | translate }}</li>
  </ul>
</div>

<div class="bloc">
  <h3><i class="fad fa-circle-notch fa-xs"></i> {{ 'REGLEMENT.SECTIONS.DEROULEMENT.TRAITEMENT.TITRE' | translate }}</h3>
  <ul class="custom-icon-list">
    <li>{{ 'REGLEMENT.SECTIONS.DEROULEMENT.TRAITEMENT.CALCUL_MANUEL' | translate }}</li>
    <li>{{ 'REGLEMENT.SECTIONS.DEROULEMENT.TRAITEMENT.SAISIE_EXCEL' | translate }}</li>
    <li>{{ 'REGLEMENT.SECTIONS.DEROULEMENT.TRAITEMENT.PUBLICATION' | translate }}</li>
  </ul>
</div>

<div class="bloc">
  <h3><i class="fad fa-circle-notch fa-xs"></i> {{ 'REGLEMENT.SECTIONS.DEROULEMENT.TIRAGE.TITRE' | translate }}</h3>
  <ul class="custom-icon-list">
    <li>{{ 'REGLEMENT.SECTIONS.DEROULEMENT.TIRAGE.EXPLICATION' | translate }}</li>
    <li>{{ 'REGLEMENT.SECTIONS.DEROULEMENT.TIRAGE.EQUITABLE' | translate }}</li>
  </ul>
</div>

<div class="note">
  <i class="fad fa-info-square fa-lg"></i> <strong> {{ 'REGLEMENT.SECTIONS.DEROULEMENT.NOTE' | translate }}</strong>
</div>