a {
    text-decoration: none;
    color: #007acc;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.petiteNote {
    font-style: italic;
    background: #f0f0f0;
    padding: 1rem;
    border-left: 4px solid lightgray;
    border-radius: 6px;
    color: black;
    font-weight: 500;
    max-width: 50rem;

    p {
        margin-bottom: 0;
    }
}