
.reglements-container {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

.table-des-matieres {
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 2rem;

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin: 0.5rem 0;
    }

    a {
      text-decoration: none;
      color: #007acc;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.table-des-matieres ul {
  list-style-type: none;
  padding-left: 0;
}

.table-des-matieres li {
  margin: 4px 0;
}

.table-des-matieres li > ul {
  padding-left: 1.5rem; /* indentation visuelle */
}

 a {
  text-decoration: none;
  color: #007bff;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;  
  cursor: url('https://raw.githubusercontent.com/competition22lr/resultats/refs/heads/main/public/images/rifle-cursor.png') 16 16, auto;
}

/* CSS general */

.bloc {
  margin-bottom: 2rem;
}

.bloc h3 {
  font-size: 1.3rem;
  color: #00518f;
  border-bottom: 2px solid #00518f;
  padding-bottom: 0.3rem;
  margin-bottom: 0.7rem;
}

ul {
  list-style: disc;
  margin-left: 1.5rem;
}

ul ul {
  list-style: circle;
  margin-left: 1.5rem;
}

.note {
  margin-top: 1.5rem;
  font-style: italic;
  background: #f0f0f0;
  padding: 1rem;
  border-left: 4px solid #00518f;
  border-radius: 6px;
  color: #003366;
  font-weight: 500;
}