.reglements-container {
  padding: 2rem;
  /* max-width: 800px; */
  margin: auto;
}

.table-des-matieres {
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 2rem;

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin: 0.5rem 0;
    }

    a {
      text-decoration: none;
      color: #007acc;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.table-des-matieres ul {
  list-style-type: none;
  padding-left: 0;
}

.table-des-matieres li {
  margin: 4px 0;
}

.table-des-matieres li>ul {
  padding-left: 1.5rem;
  /* indentation visuelle */
}

a {
  text-decoration: none;
  color: #007bff;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
  cursor: url('https://raw.githubusercontent.com/competition22lr/resultats/refs/heads/main/public/images/rifle-cursor.png') 16 16, auto;
}

/* CSS general */

.bloc {
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.3rem;
  color: #00518f;
  border-bottom: 2px solid #00518f;
  padding-bottom: 0.3rem;
  margin-bottom: 0.7rem;
}

.h4-content {
  margin-left: 1em;
}

section {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 1rem 1.5rem;
  margin-bottom: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* effet d'ombre doux */
  border-left: 5px solid rgba(0, 0, 0, 0.1);
  /* accent vertical */
  transition: box-shadow 0.3s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Responsive : une image par ligne en mobile */
@media (max-width: 768px) {
  .reglements-container {
    padding: 0.5rem;
    max-width: 800px;
    margin: auto;
  }

  .gallery img {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bloc-sub {
    margin-left: unset;
  }

  .h4-content {
    margin-left: unset;
  }
}