<div class="reglements-container">
  <h1>{{ 'REGLEMENT.TITRE' | translate }}</h1>

  <nav class="table-des-matieres">
    <h3>{{ 'REGLEMENT.TABLE.TITLE' | translate }}</h3>
    <ul>
      <li><a (click)="goToAnchor('deroulement')">{{ 'REGLEMENT.TABLE.DEROULEMENT' | translate }}</a></li>
      <li><a (click)="goToAnchor('categories')">{{ 'REGLEMENT.TABLE.CATEGORIES' | translate }}</a></li>
      <li><a (click)="goToAnchor('feuille-points')">{{ 'REGLEMENT.TABLE.FEUILLEPOINTS' | translate }}</a></li>
      <li><a (click)="goToAnchor('calcul-points')">{{ 'REGLEMENT.TABLE.CALCULPOINTS' | translate }}</a></li>
      <li><a (click)="goToAnchor('classement')">{{ 'REGLEMENT.TABLE.CLASSEMENT' | translate }}</a></li>
      <li><a (click)="goToAnchor('equipement')">{{ 'REGLEMENT.TABLE.EQUIPEMENT' | translate }}</a>
        <ul>
          <li><a (click)="goToAnchor('calibres')">{{ 'REGLEMENT.TABLE.CALIBRES' | translate }}</a></li>
        </ul>
      </li>
    </ul>
    <!-- <a [routerLink]="['/impression-reglements']" target="_blank">
      🖨️ {{ 'REGLEMENT.IMPRIMABLE' | translate }}
    </a> -->
  </nav>

  <section id="deroulement">
    <h2 (click)="toggleSection('deroulement')" class="collapsible-header">
      <mat-icon>{{ sectionStates['deroulement'] ? 'expand_more' : 'chevron_right' }}</mat-icon>
      {{ 'REGLEMENT.SECTIONS.DEROULEMENT.TITLE' | translate }}
    </h2>
    <div *ngIf="sectionStates['deroulement']" class="collapsible-content">
      <p>{{ 'REGLEMENT.SECTIONS.DEROULEMENT.DESCRIPTION' | translate }}</p>
    </div>
  </section>

  <section id="categories">
    <h2 (click)="toggleSection('categories')" class="collapsible-header">
      <mat-icon>{{ sectionStates['categories'] ? 'expand_more' : 'chevron_right' }}</mat-icon>
      📂 {{ 'REGLEMENT.SECTIONS.CATEGORIES.TITRE' | translate }}
    </h2>
    <div *ngIf="sectionStates['categories']" class="collapsible-content">
      <app-reglement-categories></app-reglement-categories>
    </div>
  </section>



  <section id="feuille-points">
    <h2 (click)="toggleSection('feuillePoints')" class="collapsible-header">
      <mat-icon>{{ sectionStates['feuillePoints'] ? 'expand_more' : 'chevron_right' }}</mat-icon>
      <h2>🎯 Feuille de cible</h2>
    </h2>
    <div *ngIf="sectionStates['feuillePoints']" class="collapsible-content">
      <app-reglement-feuille-pointage></app-reglement-feuille-pointage>
    </div>
  </section>


  <section id="calcul-points">
    <app-regement-calcul-points></app-regement-calcul-points>
  </section>

  <section id="classement">
    <app-reglements-classement></app-reglements-classement>
  </section>

  <section id="equipement">
    <app-regelement-equipement></app-regelement-equipement>
  </section>

</div>