<div class="reglements-container">
  <h1>Règlements de la compétition</h1>

  <nav class="table-des-matieres">
    <h3>Table des matières</h3>
    <ul>
      <li><a (click)="goToAnchor('deroulement')">Déroulement</a></li>
      <li><a (click)="goToAnchor('categories')">Catégories</a></li>
      <li><a (click)="goToAnchor('feuille-points')">Feuille de cible</a></li>
      <li><a (click)="goToAnchor('calcul-points')">Calcul des points</a></li>
      <li><a (click)="goToAnchor('classement')">Système de Classement des Tireurs</a></li>
      <li><a (click)="goToAnchor('equipement')">Équipement autorisé</a>
        <ul>
          <li><a (click)="goToAnchor('calibres')">Calibres autorisés</a></li>
        </ul>
      </li>
    </ul>
    <!-- <a [routerLink]="['/impression-reglements']" target="_blank">
      🖨️ Version imprimable
    </a> -->
  </nav>

  <section id="deroulement">
    <h2>Déroulement de la compétition</h2>
    <p>Décris ici comment la compétition se déroule (ex : nombre de tirs, durée, etc.).</p>
  </section>

  <section id="categories">
    <app-reglement-categories></app-reglement-categories>
  </section>

  <section id="feuille-points">
    <app-reglement-feuille-pointage></app-reglement-feuille-pointage>    
  </section>


  <section id="calcul-points">
    <app-regement-calcul-points></app-regement-calcul-points>
  </section>

  <section id="classement">
    <app-reglements-classement></app-reglements-classement>
  </section>

  <section id="equipement">
    <app-regelement-equipement></app-regelement-equipement>
  </section>

</div>