<h1><i class="fad fa-shield-alt"></i>
    {{ 'LONGGONG-SECURITE.INDEX' | translate }}
    {{ 'LONGGONG-SECURITE.TITRE' | translate }}
</h1>


<div class="bloc">
    <h3><i class="fad fa-circle-notch fa-xs"></i> {{ 'LONGGONG-SECURITE.MANIPULATION.TITRE' | translate }}</h3>
    <ul>
        <li>{{ 'LONGGONG-SECURITE.MANIPULATION.R1' | translate }}</li>
        <li>{{ 'LONGGONG-SECURITE.MANIPULATION.R2' | translate }}</li>
        <li>{{ 'LONGGONG-SECURITE.MANIPULATION.R3' | translate }}</li>
    </ul>
</div>

<div class="bloc">
    <h3><i class="fad fa-circle-notch fa-xs"></i> {{ 'LONGGONG-SECURITE.EPI.TITRE' | translate }}</h3>
    <ul>
        <li>{{ 'LONGGONG-SECURITE.EPI.R1' | translate }}</li>
        <li>{{ 'LONGGONG-SECURITE.EPI.R2' | translate }}</li>
    </ul>
</div>

<div class="bloc">
    <h3><i class="fad fa-circle-notch fa-xs"></i> {{ 'LONGGONG-SECURITE.CIBLES.TITRE' | translate }}</h3>
    <ul>
        <li>{{ 'LONGGONG-SECURITE.CIBLES.R1' | translate }}</li>
        <li>{{ 'LONGGONG-SECURITE.CIBLES.R2' | translate }}</li>
        <li>{{ 'LONGGONG-SECURITE.CIBLES.R3' | translate }}</li>
    </ul>
</div>

<div class="bloc">
    <h3><i class="fad fa-circle-notch fa-xs"></i> {{ 'LONGGONG-SECURITE.COMPORTEMENT.TITRE' | translate }}</h3>
    <ul>
        <li>{{ 'LONGGONG-SECURITE.COMPORTEMENT.R1' | translate }}</li>
        <li>{{ 'LONGGONG-SECURITE.COMPORTEMENT.R2' | translate }}</li>
        <li>{{ 'LONGGONG-SECURITE.COMPORTEMENT.R3' | translate }}</li>
    </ul>
</div>