<h1><i class="fad fa-bullseye"></i>
    {{ 'LONGGONG-MISEENPLACE.INDEX' | translate }}
    {{ 'LONGGONG-MISEENPLACE.TITRE' | translate }}
</h1>

<!-- Bloc : Distance -->
<div class="bloc">
    <h3><i class="fad fa-ruler-horizontal"></i> {{ 'LONGGONG-MISEENPLACE.DISTANCE.TITRE' | translate }}</h3>
    <ul>
        <li>{{ 'LONGGONG-MISEENPLACE.DISTANCE.R1' | translate }}</li>
        <li>{{ 'LONGGONG-MISEENPLACE.DISTANCE.R2' | translate }}</li>
    </ul>
</div>

<!-- Bloc : Position de tir -->
<div class="bloc">
    <h3><i class="fad fa-chair"></i> {{ 'LONGGONG-MISEENPLACE.POSITION.TITRE' | translate }}</h3>
    <ul>
        <li>{{ 'LONGGONG-MISEENPLACE.POSITION.R1' | translate }}</li>
        <li>{{ 'LONGGONG-MISEENPLACE.POSITION.R2' | translate }}</li>
        <li>{{ 'LONGGONG-MISEENPLACE.POSITION.R3' | translate }}</li>
    </ul>

    <!-- Exemple images -->
    <div class="positions-exemples">
        <figure>
            <img src="assets/images/benchrest-correct.png" alt="Position correcte Bench Rest">
            <figcaption>{{ 'LONGGONG-MISEENPLACE.POSITION.EX1' | translate }}</figcaption>
        </figure>
        <figure>
            <img src="assets/images/benchrest-incorrect.png" alt="Position incorrecte avec support fixe">
            <figcaption>{{ 'LONGGONG-MISEENPLACE.POSITION.EX2' | translate }}</figcaption>
        </figure>
    </div>
</div>

<!-- Bloc : Nombre de tirs -->
<div class="bloc">
    <h3><i class="fad fa-sort-numeric-up"></i> {{ 'LONGGONG-MISEENPLACE.TIRS.TITRE' | translate }}</h3>
    <ul>
        <li>{{ 'LONGGONG-MISEENPLACE.TIRS.R1' | translate }}</li>
        <li>{{ 'LONGGONG-MISEENPLACE.TIRS.R2' | translate }}</li>
    </ul>
</div>

<!-- Bloc : Gestion du temps -->
<div class="bloc">
    <h3><i class="fad fa-stopwatch"></i> {{ 'LONGGONG-MISEENPLACE.TEMPS.TITRE' | translate }}</h3>
    <ul>
        <li>{{ 'LONGGONG-MISEENPLACE.TEMPS.R1' | translate }}</li>
        <li>{{ 'LONGGONG-MISEENPLACE.TEMPS.R2' | translate }}</li>
        <li>{{ 'LONGGONG-MISEENPLACE.TEMPS.R3' | translate }}</li>
    </ul>
</div>