<div class="accueil-container">
  <h1>{{ 'ACCUEIL.TITRE' | translate }}</h1>
  <p class="intro">{{ 'ACCUEIL.INTRO' | translate }}</p>

  <section class="club-info">
    <h2>{{ 'ACCUEIL.CLUB_TITRE' | translate }} <strong>{{ 'HEADER.NOM_CLUB' | translate }}</strong></h2>
    <p>
      <strong>{{ 'ACCUEIL.ADRESSE' | translate }}</strong>
      <a class="iconLink" href="https://maps.app.goo.gl/sri3mGYq8zwNMUuB7" target="_blank">
        268 chemin industriel, L'Ange-Gardien, (Québec), J8L 0A9 — {{'SORTIE' | translate }} 174
        <img class="icon"
          srcset="
        https://www.gstatic.com/marketing-cms/assets/images/0f/9a/58f1d92b46069b4a8bdc556b612c/google-maps.webp=s48-fcrop64=1,00000000ffffffff-rw 1x,
        https://www.gstatic.com/marketing-cms/assets/images/0f/9a/58f1d92b46069b4a8bdc556b612c/google-maps.webp=s96-fcrop64=1,00000000ffffffff-rw 2x"
          alt="Google Maps">
      </a>
    </p>

    <p><strong>{{ 'ACCUEIL.TELEPHONE' | translate }}</strong> (819) 986-3584</p>
    <p><strong>{{ 'ACCUEIL.COURRIEL' | translate }}</strong><a href="mailto:ctoutaouais@hotmail.com"
        target="_blank">ctoutaouais&#64;hotmail.com</a></p>
    <p><strong>{{ 'ACCUEIL.SITE_WEB' | translate }}</strong><a href="https://www.clubtiroutaouais.ca/"
        target="_blank">https://www.clubtiroutaouais.ca/</a></p>

    <h3>{{'ACCUEIL.HORAIRE_TITRE' | translate}}</h3>
    <ul class="horaire">
      <li><img class="icon"
          src="https://raw.githubusercontent.com/competition22lr/competition-de-tir/refs/heads/main/public/images/carabine.png"
          alt="icône carabine" />{{'ACCUEIL.HORAIRE_SEMAINE' | translate}} 18h00 {{'ACCUEIL.HORAIRE_A' | translate}} 21h00</li>
      <li><img class="icon"
          src="https://raw.githubusercontent.com/competition22lr/competition-de-tir/refs/heads/main/public/images/carabine.png"
          alt="icône carabine" />{{'ACCUEIL.HORAIRE_SAMEDI' | translate}} 9h00 {{'ACCUEIL.HORAIRE_A' | translate}} 16h00</li>
      <li><img class="icon"
          src="https://raw.githubusercontent.com/competition22lr/competition-de-tir/refs/heads/main/public/images/carabine.png"
          alt="icône carabine" />{{'ACCUEIL.HORAIRE_DIMANCHE' | translate}} 9h00 {{'ACCUEIL.HORAIRE_A' | translate}} 12h00</li>
    </ul>
    <p class="note"><i class="fad fa-info-square fa-lg"></i> {{'ACCUEIL.NOTE' | translate}}</p>
  </section>
</div>
<div class="img_construction">
  <img *ngIf="this.translate.currentLang == 'fr'" [src]="resultatsService.imageLocationUrl + 'construction-tir-fr.png'" alt="Site en construction"
    class="construction-image">
  <img *ngIf="this.translate.currentLang != 'fr'" [src]="resultatsService.imageLocationUrl + 'construction-tir-en.png'" alt="Site under construction"
    class="construction-image">
</div>