<h1><i class="fad fa-stream"></i>
    {{ 'LONGGONG-DEROULEMENT.INDEX' | translate }}
    {{ 'LONGGONG-DEROULEMENT.TITRE' | translate }}
</h1>

<!-- Bloc : Règles générales -->
<div class="bloc">
    <h3><i class="fad fa-circle-notch fa-xs"></i> {{ 'LONGGONG-DEROULEMENT.REGLES.TITRE' | translate }}</h3>
    <ul>
        <li>{{ 'LONGGONG-DEROULEMENT.REGLES.R1' | translate }}</li>
        <li>{{ 'LONGGONG-DEROULEMENT.REGLES.R2' | translate }}</li>
        <li>{{ 'LONGGONG-DEROULEMENT.REGLES.R3' | translate }}</li>
        <li>{{ 'LONGGONG-DEROULEMENT.REGLES.R4' | translate }}</li>
        <li>{{ 'LONGGONG-DEROULEMENT.REGLES.R5' | translate }}</li>
    </ul>
</div>

<!-- Bloc : Exemple pratique -->
<div class="bloc">
    <h3><i class="fad fa-lightbulb-on fa-xs"></i> {{ 'LONGGONG-DEROULEMENT.EXEMPLE.TITRE' | translate }}</h3>
    <ul>
        <li>{{ 'LONGGONG-DEROULEMENT.EXEMPLE.R1' | translate }}</li>
        <li>{{ 'LONGGONG-DEROULEMENT.EXEMPLE.R2' | translate }}</li>
        <li>{{ 'LONGGONG-DEROULEMENT.EXEMPLE.R3' | translate }}</li>
        <li>{{ 'LONGGONG-DEROULEMENT.EXEMPLE.R4' | translate }}</li>
        <li>{{ 'LONGGONG-DEROULEMENT.EXEMPLE.R5' | translate }}</li>
    </ul>
</div>

<!-- Bloc : Exceptions -->
<div class="bloc">
    <h3><i class="fad fa-exclamation-circle fa-xs"></i> {{ 'LONGGONG-DEROULEMENT.EXCEPTIONS.TITRE' | translate }}</h3>
    <ul>
        <li>{{ 'LONGGONG-DEROULEMENT.EXCEPTIONS.R1' | translate }}</li>
        <li>{{ 'LONGGONG-DEROULEMENT.EXCEPTIONS.R2' | translate }}</li>
        <li>{{ 'LONGGONG-DEROULEMENT.EXCEPTIONS.R3' | translate }}</li>
        <li>{{ 'LONGGONG-DEROULEMENT.EXCEPTIONS.R4' | translate }}</li>
        <li>{{ 'LONGGONG-DEROULEMENT.EXCEPTIONS.R5' | translate }}</li>
    </ul>
</div>